* {
  box-sizing: border-box;
  font-size: 12px;
}

.main-section {
  display: flex;
  align-items: start;
  justify-content: center;
}

.content-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}

.middle {
  max-width: 600px;
  width: 100%;
}

.sidenav-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;

  > * {
    cursor: pointer;
  }

  .logo {
    padding: 12px;
  }
}

.sidenav > ul {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;

    &.active {
      font-weight: 700;
    }
  }

  li {
    padding: 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      @media screen and (max-width: 1060) {
        display: none;
      }
    }

    svg {
      @media screen and (max-width: 1060) {
        width: 26.25px;
        height: 26.25px;
      }
    }
  }
}

.sidenav-bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px
}

.sidenav-user-pic svg {
  width: 35px;
  height: 100%;
}

.current-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.current-user-info {
  p {
    margin: 0;
  }
}

.current-user-menu svg {
  transform: rotate(90deg);
}

.topnav {
  position: sticky;

  ul {
    display: flex;
    list-style: none;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  
    li {
      flex: 1;
      text-align: center;
      padding: 12px;
      cursor: pointer;
      transition: 0.15s all ease-in-out;

      &.active {
        position: relative;
        font-weight: 700;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 100%;
          left: 0;
          transform: scaleX(0.15);
        }
      }
    }
  }
}

.input-wrap {
  display: flex;
  align-items: center;
  align-items: start;
  padding: 12px;
  gap: 8px;
}

.input-current-user {
  svg {
    width: 35px;
    height: 100%;
  }
}

.input-box {
  width: 100%;
}

.input-field {
  width: 100%;
  position: relative;
  padding-bottom: 12px;
}

.input-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-action-btn-wrap {
  display: flex;
  align-items: center;
}

.input-action-btn {
  transition: 0.15s all ease-in-out;
  border-radius: 50%;
  padding: 5px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 19px;
  transition: 0.15s all ease-in-out;
}

.tweet {
  font-size: 11px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
  font-size: 15px;
}

.user-profile {
  flex-basis: 40px;

  svg {
    width: 35px;
    height: 100%;
  }
}

.user-name {
  font-weight: 700;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tweet-timestamp {
  position: relative;
  padding-left: 8px;

  &::before {
    content: "•";
    position: absolute;
    left: 0;
  }
}

.tweet-menu {
  transform: rotate(90deg);
  cursor: pointer;
}

.tweet-content {
  width: 100%;
}

.tweet-actions {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.tweet-action-btn {
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  position: relative;
  transition: all 0.15s ease-in-out;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      left: 1px;
    }
  }
}

.tweet-action-icon {
  display: flex;
  align-items: center;

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}

.explore {
  width: 600px;
}