.tweet {
  font-size: 11px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-actions {
  display: flex;
  align-items: center;
}